@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
:root {
  /* Khaki */
  --khaki-100: #fff6db;
  --khaki-200: #ffc107;

  /* Gray */
  --gray-100: #f4f6f8;
  --gray-101: #fcfcfc;
  --gray-200: #e5e5e5;
  --gray-300: #6a6d70;
  --gray-400: #565656;
  --gray-500: #000000;

  /* Blue violet */
  --blueViolet-100: #484c53;

  /* Bluish cyan */
  --bluishCyan-100: #516368;

  /* Purple */
  --purple-100: #7952b3;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-200);
  font-family: "Roboto", sans-serif;
}

.wrapper{
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}
.main{
  flex: 1 1 auto;
  width: 100%;
  padding: 100px 15px 0 15px;
}
@media  (max-width:991px){
  .main{
    padding: 15px 15px 0 15px;
  }
}
.sidebar {
  min-height: 100vh;
  width: 250px;
  min-width: 250px;
  background: var(--purple-100);
}
.btn:focus, button:focus{
  box-shadow: none;
  outline: none;
}
h2, h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  padding: 0;
}
h2{
  font-weight: 600;
  color: var(--blueViolet-100);
}
h3{
  font-weight: 500;
  color: var(--gray-400);
}
.card {
  border-radius: 10px;
  min-height: calc(100vh - 100px);
  border: none;
  padding: 14px 12px;
}

.card-header {
  margin-bottom:15px;
  padding: 12px 10px;
  border: none;
  min-height: 40px;
  background: var(--gray-100);
}
.chip{
  background: var(--khaki-100);
  border-radius: 30px;
  border: none;
  font-size: 10px;
  line-height: 10px;
  color: var(--khaki-200);
  padding: 4px 10px;
  cursor: pointer;
  display: inline-flex;
}
.chip.active{
  background: var(--khaki-200);
  color: var(--gray-100);
}
.chip:not(:last-child){
  margin-right: 4px;
}
.chip__icon {
  padding: 0 0 0 4px;
  height: auto;
  outline: none;
  border: none;
}

.dropdown {

}
.dropdown-toggle{
  background: var(--gray-101);
  border-radius: 10px;
  padding: 17px 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--bluishCyan-100);
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
.dropdown-toggle.show{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: var(--gray-101);
}
.dropdown-menu {
  background: var(--bs-white);
  box-shadow: 0 15px 38px -21px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 10px 10px;
  height: 200px;
  overflow: hidden;
  top: -2px !important;
  border: none;
  padding: 0;
  width: 100%;
}
.dropdown-menu-chips{
  height: 80px;
  overflow-y: auto;
  border-top: 0.6px solid rgba(196, 196, 196, 0.25);
  padding: 12px;
}
.dropdown-menu__listing {
  padding: 8px 0 0 0;
  margin: 0;
  max-height: 125px;
  overflow-y: auto;
}
.dropdown-menu__header {
  border-style: solid;
  border-width: 0.6px 0 0.6px  0;
  border-color: rgba(196, 196, 196, 0.25);
  padding: 4px 10px;
}

.dropdown-menu__search {
  border-bottom: 0.6px solid rgba(196, 196, 196, 0.25);
}
.dropdown-menu__search .form-control {
  background: transparent;
  padding: 12px;
}
.form-check-input:focus {
  border-color: #8f8f8f;
  outline: 0;
  box-shadow: none;
}
.form-check {
  display: inline-flex;
  min-height: 1.5rem;
  padding-left: 12px;
  margin-bottom: .125rem;
  align-items: center;
}
.form-check .form-check-input {
  margin-left: 0;
  margin-right: 15px;
  margin-top: -2px;
}
.form-check-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #6A6D70;
}
.form-check-input:checked {
  background-color: #ffffff;
  border-color: #8f8f8f;
}
.form-check-input:checked[type=radio] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23FFC107'/%3e%3c/svg%3e");
}
.form-control{
  background: var(--gray-101);
  border-radius: 10px;
  padding: 17px 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--bluishCyan-100);
  border: none;
}
.form-control:focus{
  box-shadow: none;
  color: var(--bluishCyan-100);
  background: var(--gray-101);
  border-color: var(--gray-101);
}

.custom.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.custom .input-group-text {
  color: #FFC107;
  text-align: center;
  white-space: nowrap;
  background-color: #FFEFBF;
  border: 1px solid #FFEFBF;
  border-radius: 5px;
  height: 35px;
}

.custom.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.dropdown:focus {
  border: 0;
  outline: none;
  box-shadow: none;
}
.textareaWrapper{
  background: var(--gray-101);
  border-radius: 10px;
  height: 100px;
}
.textareaWrapper textarea{
  resize: none;
}

.imgPreview {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 8px;
  margin-bottom: 10px;
}

.imgPreview .close {
  position: absolute;
  z-index: 2;
  background: #FC617D;
  color: #fff;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  right: -8px;
  top: -8px;
  font-size: 10px;
  cursor: pointer;
}
.imgPreview img{

}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 10px;
}

.upload-btn-wrapper .btn {
  padding: 8px;
  font-size: 14px;
  font-weight: 400;
  background: #FFFFFF;
  border: 2px dashed #FFC107;
  border-radius: 8px;
  width: 40px;
  height: 40px;
}

.upload-btn-wrapper input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.list-inline-item {
  vertical-align: middle;
}

.calenderDropdown .dropdown-toggle{
  background: transparent;
  padding: 0;
}
.calenderDropdown .dropdown-toggle.show{
  background: transparent;
  padding: 0;
}
.calenderDropdown  .dropdown-toggle::after{
  content: none;
}
.calenderDropdown .dropdown-menu {
  background: var(--bs-white);
  box-shadow: 0 17px 39px -14px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 190px;
  min-height: 200px;
  overflow: hidden;
  top: -2px !important;
  border: none;
  padding: 14px;
  height: auto;
}

.calenderHeader {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 4px;
  grid-row-gap: 0;
  margin-bottom: 10px;
}
.calenderDates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 5fr;
  grid-column-gap: 4px;
  grid-row-gap: 10px;
}
.calenderHeader .calenderDates{

}
.calenderHeader {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #b7bac0;
  text-align: center;
}
.calenderDates {
  border-bottom:0.3px solid #606885;
  margin-bottom: 12px;
  padding-bottom: 12px;
}
.calenderDates .date{
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #1E273E;
  border: 1px solid;
}
.calenderDropdown select.form-control,
.calenderDropdown .form-control
{
  padding: 4px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.calenderDropdown .form-control
{
 background: #F4F6F8;
  font-size: 10px;
  color: #898E9B;
  line-height: 12px;
}
.calenderDropdown label{
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #1E273E;
}